body {
    background-image: url("971.jpg");
    background-size: cover;
    
}
.upper-container {
    text-align: center;
    padding: 20 0px;
}

.heading-image {
    width: 70%; 
    height: auto; 
}
 .search-container {
    text-align: center;
    margin-top: 20px;
    
}
.no-results-heading{
    text-align: center;
    color: white;
    margin: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.search-container input[type=text] {
    padding: 20px;
    width: 50%;
    font-size: 32px;
    background-color: #FFBDF7;
    color: #1D267D;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-container button {
    margin: 10px;
    padding: 10px 20px;
    width: 30%;
    height: 50px;
    background-color: transparent;
    color: white;
    font-size: 23px;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-color: #FFBDF7;
} 

.search_bar {

    height: 30px;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;

    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search_bar:focus {
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .search-button {
    display: inline-block;
    width: 80px;
    height: 60px;
    border: none;
    border-radius: 30px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  

#results {
    margin-top: 20px;
}

#results ul {
    list-style-type: none;
    padding: 0;
}

#results li {
    margin-bottom: 10px;
}


/* cardsss */
.card {

    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
    width: 320px;
    height: 150px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
   
  }
  
  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
     opacity: 100% !important; 
  }
  
  .title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: #fff
  }
  
  .price {
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
    color: #fff
  }
  
  .desc {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    line-height: 1.625;
    color: rgba(156, 163, 175, 1);
  }
  
  .lists {
    margin-bottom: 1.5rem;
    flex: 1 1 0%;
    color: rgba(156, 163, 175, 1);
  }
  
  .lists .list {
    margin-bottom: 0.5rem;
    display: flex;
    margin-left: 0.5rem
  }
  
  .lists .list svg {
    height: 1.5rem;
    width: 1.5rem;
    flex-shrink: 0;
    margin-right: 0.5rem;
    color: rgba(167, 139, 250, 1);
  }
  
  .action {
    border: none;
    outline: none;
    display: inline-block;
    border-radius: 0.25rem;
    background-color: rgba(167, 139, 250, 1);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: rgba(17, 24, 39, 1);
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

  .pagination {
        text-align: center;
    }
    
    .prev-button,
    .next-button {
        font-size: 18px;
        padding: 10px 20px;
    }



